<!DOCTYPE html>
<html>
<head>
     {{#if isAdmin}}
            {{else}}
                 <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="/images/favicon/android-chrome-192x192.png"
    />
    <link rel="manifest" href="/images/favicon/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
     <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  
    <title>Furniture | Minimalist</title>
    <link rel="stylesheet" href="/css/app.css">
            {{/if}}
</head>
<body>
   {{#if isAdmin}}
              
    
    {{{body}}}
  
    <!-- End custom js for this page -->
      {{else}}
                <!-- Start header -->
      <div class="header-pre-wrapper">
        <header class="header is--fixed">
          <div class="wrapper header-wrapper">
            <div class="header-logo">
              <img
                src="/images/header/header-logo.svg"
                alt="header-logo"
                class="header-logo__img"
              />
            </div>
            <nav class="header-nav">
              <ul class="header-nav__list">
                <li class="header-nav__item">
                  <a class="header-nav__link" href="/">Home</a>
                </li>
                <li class="header-nav__item">
                  <a class="header-nav__link" href="/product">Product</a>
                </li>
                <li class="header-nav__item">
                  <a class="header-nav__link" href="#">About us</a>
                </li>
                <li class="header-nav__item">
                  <a class="header-nav__link" href="#">Recruitment</a>
                </li>
              </ul>
              <form action="/product/search" method="POST">
              <div class="header-search">
                <button class="header-search__btn">
                  <img
                    src="/images/header/search.svg"
                    alt="search-icon"
                    class="header-search__img"
                  />
                </button>
                <input
                  type="text"
                  placeholder="Search"
                  class="header-search__input"
                  name="search"
                  id="search"
                />
              </div>
              </form>
            </nav>
            <div class="header-group">
              <div class="header-group__btn">
                <a href="#" title="favorites" class="header-group__link">
                  <img src="/images/header/favorite.svg" alt="" />
                </a>
              </div>
              <div class="header-group__btn">
                <a href="/cart" title="Bag item: " class="header-group__link">
                  <div class="header-group__bag">
                    <img src="/images/header/bag.svg" alt="" />
                    <span>9+</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="header-login">
               {{#if isLogin}}
                <a href="/profile" class="header-login__link">
                <span class="header-login__text">Thông tin tài khoản</span>
              </a>
              
              {{else}}
             <a href="/login" class="header-login__link">
                <span class="header-login__text">Join us</span>
              </a>
              <span class="header-login__divider">|</span>
              <a href="/login" class="header-login__link">
                <span class="header-login__text">Sign in</span>
              </a>
              {{/if}}
            </div>
            <div class="header-profile">
              <div class="header-profile__wrapper">
                <div href="#" class="header-profile__content">
                  <a href="" class="header-profile__link">
                    <p class="header-profile__name">Phan Nghi</p>
                    <img
                      src="/images/header/avatar/sulyyoon.jpg"
                      alt=""
                      class="header-profile__img"
                      width="30px"
                      height="30px"
                      style="border-radius: 100%"
                    />
                  </a>
                  <div class="header-profile__dropdown">
                    <div class="header-dropdown__content">
                      <nav class="header-dropdown__nav">
                        <ul class="header-dropdown__list">
                          <li class="header-dropdown__item">
                            <a href="#" class="header-dropdown__link"
                              >Profile</a
                            >
                          </li>
                          <li class="header-dropdown__item">
                            <a href="#" class="header-dropdown__link">Order</a>
                          </li>
                          <li class="header-dropdown__item">
                            <a href="#" class="header-dropdown__link"
                              >Favorite</a
                            >
                          </li>
                          <li class="header-dropdown__item">
                            <a href="#" class="header-dropdown__link"
                              >Settings</a
                            >
                          </li>
                          <li class="header-dropdown__item">
                            <a href="#" class="header-dropdown__link">Logout</a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>
      <!-- End header -->

    {{{body}}}
 <script src="/js/index.js"></script>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            {{/if}}
            
  
</body>
</html>